.phoneContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

@media (max-width: 1200px) {
    .phoneContainer {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
    }
}
