.border {
    border-bottom: 1px solid #a6a5a9;
}

.container {
    display: flex;
    max-width: 1110px;
    height: 101px;
    margin: 0 auto;
}

.containerRight {
    display: flex;
    justify-content: end;
    align-self: center;
    width: 100%;
    height: 50px;
}

.catalogButton {
    height: 18px;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #0d5adc;
    align-self: center;
    text-decoration: none;
}

.comparison {
    height: 14px;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #3b4157;
    align-self: center;
}

.persAccButton {
    height: 14px;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #3b4157;
    margin-left: 48px;
    align-self: center;
    text-decoration: none;
}

.image {
    margin-left: 19px;
    height: 20px;
    align-self: center;
}

@media (max-width: 1200px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0px 0px;
    }
    .containerRight {
        padding: 0px 20px 0px 0px;
    }
    .catalogButton {
        padding: 20px;
    }
}

@media (max-width: 800px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0px 0px;
    }
    .containerRight {
        padding: 0px 20px 0px 0px;
    }
    .catalogButton {
        padding: 20px;
    }
}
