.container {
    width: 100%;
    height: 101px;
}

.titleContainer {
    display: flex;
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: #828286;
    justify-content: end;
    margin-top: 63px;
}

/*      */

.contentContainer {
    display: flex;
    max-width: 1110px;
    margin: 0 auto;
}

.checkbox {
    display: flex;
    margin-top: 126px;
    gap: 7px;
    width: 375px;
    margin-bottom: 74px;
}

.checkboxText {
    font-size: 18px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: #0d5adc;
    align-self: center;
}
