.container {
    background-color: #f4f9fc;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #cdcfd2;
    max-width: 1110px;
    margin: 0 auto;
}

th,
td {
    padding: 40px 0px 40px 0px;
    text-align: start;
}

tr {
    border-bottom: 1px solid #cdcfd2;
}

th {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #a4a9b9;
    width: 255px;
}

td {
    padding-left: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #3b4157;
    text-align: start;
}

@media (max-width: 1200px) {
    table {
        table-layout: auto;
        border-collapse: collapse;
        border-top: 1px solid #cdcfd2;
    }
    .container {
        overflow: hidden;
        overflow-x: scroll;
        padding: 40px;
    }
}

@media (max-width: 800px) {
    .container {
        overflow: hidden;
        overflow-x: scroll;
        padding: 40px;
    }
}
